html,body{
  font-size:16px;
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";
  -webkit-text-size-adjust:none;
}
body{
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #232323;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 400px) and (max-width: 420px){ 
  html{
    font-size: 16px;
  }
}
@media only screen and (min-width: 380px) and (max-width: 400px){ 
  html{
    font-size: 15px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 380px){ 
  html{
    font-size: 14px;
  }
}
@media only screen and (min-width: 340px) and (max-width: 360px){ 
  html{
    font-size: 13px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 340px){ 
  html{
    font-size: 12px;
  }
}
@media only screen and (min-width: 420px){ 
  html{
    font-size: 14px;
  }
}
*,p,.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.row{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  color: #232323;
  padding:0;
  overflow: hidden;
  font-size: 1rem;
  position: relative;
}